.header-container {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-container {
    display: flex;
    justify-content: center; /* Размещаем блоки с левым и правым контентом */
    align-items: center;
    gap: 80px;
    padding-top: 20px;
    margin: 0 20px;
}

.left-nav, .right-nav {
    display: flex;
    gap: 80px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Чтобы центрированный логотип не сжимался */
}

.link-item {
    background-color: red;
    font-size: 30px;
}

.header-title {
    font-weight: bold;
    color: white;
    font-size: 45px;
}
