.header-container {
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Размещаем блоки с левым и правым контентом */
  align-items: center;
  gap: 50px;

  &__logo {
    width: 120px;
    height: auto;
    object-fit: contain;
  }

  &__link-item {
    background-color: red;
    font-size: 30px;
  }
}