.empty-data-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    width: 20%;
    height: auto;
    filter: drop-shadow(10px 10px 15px black);
  }

  &__text {
    font-size: 2.5vw;
  }
}