.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;

  &__group-name {
    font-size: 135px;
    text-align: center;
    font-weight: bold;
  }
}

.description-div {
  max-height: 120px;
  width: 95%;
  overflow-y: auto;
  margin: 5px;

  &__description {
    text-align: justify;
    font-size: 20px;
  }
}