.group-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 98%;

  border-radius: 20px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}