.news-home-list-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    width: 70%;
    height: auto;
  }

  &__title {
    text-align: center;
  }
}