.music-platform-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;

  height: clamp(100px, 20vh, 150px);
  width: clamp(150px, 20vw, 300px);
}