.spotify-container {
  width: clamp(300px, 45vw, 1000px);
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__frame {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}