$bg-color: #080705;
$gradient: linear-gradient(90deg, rgba(139, 42, 42, 0.497) 0%, rgba(133, 42, 42, 0.497) 20%, rgba(194, 26, 26, 0.497) 50%, rgba(133, 42, 42, 0.497) 83.5%, rgba(139, 42, 42, 0.497) 100%);
$main-text-color: #FCCD2F;
$secondary-text-color: #FFFFFFFF;
$font-size: 14px;
$button-color: #FCCD2FD9;
$button-hover-color: #C19D24D8;
$confirm-button-color: $button-color;
$cancel-button-color: #FF0000FF;
$cancel-button-hover-color: #8B0000FF;