/* Стиль для области прокрутки */
::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
    background: black; /* Фон трека скроллбара */
    /*border-radius: 6px;*/
}

::-webkit-scrollbar-thumb {
    background: gray; /* Цвет ползунка */
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgray; /* Цвет ползунка при наведении */
}
