@import "./colors";

* {
  font-family: "Marmelad", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-text {
  color: $main-text-color;
}

.secondary-text {
  color: $secondary-text-color;
}

.text-with-border {
  -webkit-text-stroke: 0.2px black;
}

.big-shadow {
  text-shadow: 0 0 6px #0000004C,
  0 0 10px #0000004C,
  0 0 20px #00000019;
}

.small-shadow {
  text-shadow: 3px 3px 8px #00000033;
}

.home-container-border {
  border: 2px solid $button-color;
}

.basic-button, .confirm-button {
  background-color: $button-color;

  &:hover {
    background-color: $button-hover-color;
  }
}

.cancel-button {
  background-color: $cancel-button-color;

  &:hover {
    background-color: $cancel-button-hover-color;
  }
}

.admin-button {
  position: absolute;
  z-index: 10;
  background-color: $button-color;
  color: #000;
  border: 3px solid black ;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;

  &__add {
    top: 1rem;
    right: 8rem;
  }

  &__edit {
    top: 1rem;
    right: 4rem;
  }

  &__delete {
    top: 1rem;
    right: 1rem;
  }


  &:hover {
    background-color: $button-hover-color;
  }
}