@import "./colors";

* {
  //TODO: шрифт
  //font-family: 'Leelawadee UI', sans-serif;
}

.main-text {
  color: $main-text-color;
}

.secondary-text {
  color: $secondary-text-color;
}

.big-shadow {
  text-shadow: 6px 6px 10px #0000004C, 0px 0px 20px #00000019;
}

.small-shadow {
  text-shadow: 3px 3px 8px #00000033;
}

.basic-button, .confirm-button {
  background-color: $button-color;

  &:hover {
    background-color: $button-hover-color;
  }
}

.cancel-button {
  background-color: $cancel-button-color;

  &:hover {
    background-color: $cancel-button-hover-color;
  }
}

.add-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  background-color: #ffb800;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;

  &:hover {
    background-color: #ffc833;
  }
}