.video-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Отступы между элементами */
  padding: 2rem; /* Отступы внутри контейнера */
  align-items: center;
  justify-content: center;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 элемента в строке, с минимальной шириной 0 */
  gap: 20px; /* Отступы между элементами */
  width: 100%; /* Ширина 100% от родительского контейнера */
  box-sizing: border-box; /* Чтобы учитывать паддинги и отступы */
}

.video-list__item {
  width: 100%; /* Карточка будет занимать 100% ширины своей ячейки */
  box-sizing: border-box; /* Чтобы паддинги не выходили за пределы карточки */
  overflow: hidden; /* Прячем все, что выходит за пределы карточки */
  display: flex;
  justify-content: center;
}
