.schedules-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 2rem;
}

.schedules-list {
  display: flex;
  //flex-wrap: wrap; // ✅ Добавь
  justify-content: center;
  align-items: stretch; // ✅ Чтоб блоки были одинаковой высоты
  gap: 20px;

  &__item {
    flex: 1 1 30%; // ✅ Автоматическая ширина с минимальной базой
    width: clamp(280px, 30%, 450px);
    display: flex;
    justify-content: center;
  }
}