.schedules-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
  height: 100%;

  padding: 1rem;

  &__container {
    width: 100%;
    height: 73%;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    overflow: hidden;
  }

  &__items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap; // ❗️ если нужно не переносить
    gap: 2rem;
    justify-content: center; // ❗️или убрать свойство вообще
    align-items: center;
    box-sizing: border-box;
  }
}