.schedule-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__container {
    max-width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
  }

  &__description-container {
    width: 80%;
    word-break: break-word;
    overflow-wrap: break-word;

    &-description {
      text-align: center;
      width: 100%;
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }

  &__photo {
    width: clamp(250px, 35%, 1000px);
    height: auto;
    border-radius: 8px;
    margin: 0;
    display: block;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    text-align: center;
    color: white;

    &-title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &-datetime {
      font-size: 1.5rem;
      color: #666;
      margin-bottom: 10px;
    }
  }
}
