.schedules-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.schedules-list {
  display: flex;
  //flex-wrap: wrap; // ✅ Добавь
  justify-content: center;
  align-items: stretch; // ✅ Чтоб блоки были одинаковой высоты
  gap: 20px;

  &__item {
    flex: 1 1 30%; // ✅ Автоматическая ширина с минимальной базой
    width: 30%;
    max-width: 450px; // ✅ Чтоб не превышала треть
    min-width: 280px; // ✅ Чтобы не ломалось на маленьком экране
    display: flex;
    justify-content: center;
  }
}