.schedule-modal {
  max-width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;

  &__photo {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin: 0;
    display: block;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    text-align: center;
    color: white;

    &-title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &-datetime {
      font-size: 1.5rem;
      color: #666;
      margin-bottom: 10px;
    }

    &-description {
      font-size: 1.2rem;
      margin-bottom: 15px;
    }

    &-location {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}
